/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------Contact---------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
#contact {
    background-color: slategray;
}
#contact a {
    text-decoration: none;
    color: black;
}
#contact h1 {
    text-align: center;
    margin: 50px;
}
#contact nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(42,181,123, 0.63)
}
#contact form {
    margin: 0 25% 0 25% ;
    padding: 0 5% 0 5%;
    width: 40%;
    background-color: rgba(42,181,123, 0.63)
}
#contact form div {
    padding-top: 20px;;
}
#contact #envoieContact {
    display:block;
    margin: 20px auto;
    width:150px;
    padding: 20px;
    text-align:center;
    color: black;

}
}
/*-------------------------------------------------------------HomePage---------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/